<!-- views/articles-edit.handlebars -->

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form method="POST" action="/articles/{{article._id}}?_method=PUT">
			{{> articles-form}}
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save Article</button>
				<button type="button" onclick="window.location.href='/'">Cancel</button>
			</div>
		</form>
	</div>
</div>
