<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form method="POST" action="/users/{{userId}}/articles/">
			<fieldset>
				<legend>Create New Article</legend>
				{{> articles-form}}
			</fieldset>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save Article</button>
				<button type="button" class="btn" onclick="window.location.href='/users/{{userId}}'">Cancel</button>
				<input type="hidden" name="userId" value="{{userId}}">
			</div>
		</form>
	</div>
</div>