<h1>Users</h1>
<a href="/users/new">New User</a>
<div class="row">
	{{#each users}}
	<div class="col-sm-2">
		<h3>
			<a href="/users/{{this.id}}">
				{{this.userName}}
			</a>
		</h3>
		<h4>
			{{this.userInterests}}
		</h4>
	</div>
	{{/each}}
</div>