<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form method="POST" action="/users/{{user.userId}}?_method=PUT">
			<p>1 {{user.userId}}</p>
			<p>2 {{user._id}}</p>
			<fieldset>
				<legend>Edit User: {{user.title}}</legend>
				{{> users-form}}
			</fieldset>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Update User</button>
				<button type="button" class="btn" onclick="window.location.href='/'">Cancel</button>
			</div>
		</form>
	</div>
</div>
