<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form method="POST" action="/users/">
			{{> users-form}}
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save User</button>
				<button type="button" onclick="window.location.href='/'">Cancel</button>
			</div>
		</form>
	</div>
</div>
